:host{
  --grey-color: #D7D7D7;
  --green-color: #7ABB4A;
  --link-color: #1D1D1D;
  --text-color: #6C6C6C;
  --even-row-color: #FFFFFF;
  --odd-row-color: #F7F7F7;
  --scroll-color: #F6F6F6;
  --active-color: #404B5B;
  --step-bg: #F1F8EC;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.transition {
  animation: slideIn 1s cubic-bezier(.1, .86, .45, 1);
  animation-fill-mode: forwards;
}

/* Media Queries Start ------- */ 

/* Portrait and landscape iPad, iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .sidebar-open{
      margin-top: 140px !important;
    }
  }

  /* Portrait and landscape Kindle Fire HD 7" */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar-open{
    margin-top: 80px !important;
  }
}

.fa,
.fas,
.fa-solid,
.fa-light,
.fa-regular {
    font-family: "Font Awesome 6 Free" !important
}

.fa-check{
  color: var(--green-color);
}

.sidebar-open {
    margin-left: 256px;
		margin-top: 80px;
}

.message{
  font-size: 16px;
  width: 65%;
  text-align: center;
  font-weight: 700;
  color: var(--link-color);
} 

.sub-message{
  font-size: 16px;
  width: 65%;
  text-align: center;
  color: var(--link-color);
}

.main{
  margin-left: 100px;
  margin-top: 80px;
  margin-right: 14px;
}

.white-cross{
  color: #FFFFFF !important;
}

.error-cross{
  color: #fa7800 !important;
}

.fa-xmark{
  cursor: pointer;
}

.no-data-message{
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 600;
  color: var( --link-color);
}

.increment-input{
  color: var(--link-color) !important;
  width: 100%;
  border: none;
  border: 0;
  padding-left: 0;
  border-radius: 8px;
  font-family: 'Proxima Nova' !important;
  font-size: 12px !important;
  text-align: right;
  padding: 8px 9px 8px 9px !important;
}

.input-button{
  background: #f1f8ec !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 34px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.increment-button{
  background: #f1f8ec !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 34px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.width-small{
  width: 50%;
}


.flat-input{
  padding: 8px 0 8px 9px !important;
  color: var(--link-color) !important;
  width: 100%;
  border: none;
  border: 0;
  padding-left: 0;
  border-radius: 8px;
  font-family: 'Proxima Nova' !important;
  font-size: 12px !important;
}

.flat-container{
  display: flex;
  border: 1px solid #e4e4e4 !important;
  padding: 0px 0 0px 9px !important;
  /* width: 50%; */
  width: 160px;
  border-radius: 10px;
}

.width-num-small{
  /* width: 106px; */
  width: 50%;
}

textarea{
  border: 1px solid #e4e4e4 !important;
  border-radius: 8px;
  font-family: 'Proxima Nova' !important;
  color: var(--link-color) !important;
  padding: 8px 0 8px 9px !important;
  font-size: 12px !important;
  width: 100%;
}

.view-text{
  font-family: 'Proxima Nova' !important;
  font-size: 12px;
  font-weight: 600;
  color: var(--link-color) !important;
  width: 6.5rem !important;
}

.distance-text{
  font-family: 'Proxima Nova' !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--green-color) !important;
}

.icon-action{
  display: flex;
  width: 100%;
  align-items: center;
}

.icon-action-button{
  padding: 0 0em 0 1em;
}

.input-action{
  width: 100%;
}

.action-list{
  display: flex;
}

.content-input:focus-visible{
  outline-color: rgba(108, 108, 108, 0.43) !important;
}

.flat-input:focus-visible{
  outline: 0 !important;
  outline-color: #FFFFFF!important;
}

.increment-input:focus-visible{
  outline: 0 !important;
  outline-color: #FFFFFF!important;
}

 textarea:focus-visible{
      outline-color: rgba(108, 108, 108, 0.43) !important;
 }

.content-input::placeholder{
  color:  rgba(108, 108, 108, 0.43) !important;
}

textarea::placeholder{
  color:  rgba(108, 108, 108, 0.43) !important;
}