*{
    font-family: 'Proxima Nova' !important;
}
.main{
    margin:0 auto; 
    width: 60%;
}
.green_clr{
    color: #7ABB4A;
    font-weight: bold;
}

.required-p{
    color: #fa7800;
    font-size: 13px;
}
/* .step_no{
    font-weight: bold;
} */
.details_desc{
    margin-bottom: 12px;
}

.desc{
    font-size: 16px;
    font-weight: bold;
}
.steps{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.desc_clr{
    color: #909090;
    margin-bottom: 55px;
}
.details_main{
    margin-top: 10px;
    margin-bottom: 10px;
}
.button1{
    --sds-c-button-brand-color-background: #7ABB4A;
    --sds-c-button-text-color: white;
    --slds-c-button-brand-color-border : #7ABB4A !important;
    --slds-c-button-radius-border : 10px;
    --slds-c-button-spacing-block-end: 6px;
    --slds-c-button-spacing-block-start: 6px;
    --slds-c-button-brand-spacing-inline-end: 58px;
    --slds-c-button-brand-spacing-inline-start: 58px;
    --slds-c-button-color-background-active: #7abb4a !important;
    --slds-c-button-brand-color-background-hover: #7abb4a !important;
    --slds-c-button-color-border-hover: #7abb4a !important;
    font-size: 14px !important;
    font-family: 'Proxima Nova Bold' !important;
}
.button2{
    --sds-c-button-text-color: #7ABB4A;
    --slds-c-button-outline-brand-color-border : #7ABB4A !important;
    --slds-c-button-color-background-active: #fff !important;
    --slds-c-button-color-background-hover: #fff !important;
    font-size: 14px !important;
    font-family: 'Proxima Nova Bold' !important;
    margin-top: 8px;
    margin-bottom: 8px;
    --slds-c-button-radius-border : 10px;
    --slds-c-button-spacing-block-end: 6px;
    --slds-c-button-spacing-block-start: 6px;
    --slds-c-button-outline-brand-spacing-inline-end: 30px;
    --slds-c-button-outline-brand-spacing-inline-start: 30px;
}
.button3{
    --sds-c-button-text-color: #7ABB4A;
}
.fill_field{
    margin-top: 30px;
}
.field_details{
    margin-top: 8px;
    margin-bottom: 40px;
    color: black;
}
.field_label{
    --lwc-colorTextLabel: #1d1d1d;
    --lwc-formLabelFontSize: 14px;
    --lwc-colorBorderError: #fa7800;
}
.second{
    margin:0 auto; 
    width: 60%;
}
.svg-effect{
    /* --sds-c--color-foreground: #7ABB4A; */
    text-align: center;
    --sds-c-icon-color-foreground:  #7ABB4A;
    --sds-c-icon-color-background: white;
    --sds-c-icon-color-border : #7ABB4A;
    border: 2px solid #7ABB4A;
    border-radius: 50%;
    padding: 4px;
}
.fname{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.nameDetail{
    text-align: center;
}
.rectInfo{
    border: 1px solid #909090;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btnURl{
    padding-top: 20px;
    padding-bottom: 20px;
}
.calendarBtn{
    /* -sds-c-button-brand-color-background: #7ABB4A !important;
    --sds-c-button-text-color: white;
    --slds-c-button-brand-color-border : #7ABB4A !important; */
    --slds-c-button-radius-border : 10px;
    background-color: #7ABB4A;
    color: #ffffff;
}
.registerText{
    padding-bottom: 20px;
}
.boldEff{
    font-weight: bold;
}
.meetingText{
    padding-bottom: 10px;
}
.regiDesc{
    padding-bottom: 20px;
}
.downBtn{
    padding-bottom: 20px;
    gap: 20px;
}
.mailLnk{
    font-weight: bold;
    color: #7ABB4A;
}
.svgImg{
    height: 15px;
    margin-right: 5px;
}
.meetName{
    font-weight: bold;
    font-size: 22px;
    color: #7ABB4A;
    margin-bottom: 15px;
}
.dateIST{
    color: #909090;
}
.footerText{
    color: #909090;
}
.selectHead{
    background-color: #7ABB4A;
    width: 170px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 10px;
}
.selectOption{
    margin-top: 15px;
    margin-bottom: 15px;
}
.selectHead:focus{
    background-color: #7ABB4A;
    color: white;
}
.selectHead:focus option{
    background-color: #ffffff;
    color: black;
}
.selectHead option:hover{
    background-color: #7ABB4A;
    color: white;
}